body {
  background-color: white;
  perspective: 1000px;
  overflow: hidden;
  position: relative;
  color: black;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.outer__layer-cube {
  transform-style: preserve-3d;
  transition: all 0.5s;
  position: relative;
}

.cube {
  margin: 35vh auto;
  width: 200px;
  height: 200px;
  transform-style: preserve-3d;
  transition: all 0.6s;
  cursor: pointer;
}

/*global classes-------------*/
.front__image-face {
  backface-visibility: hidden;
}

.back__image-face {
  transform: rotateY(180deg);
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  right: 0;
}
/* global classes-------------*/

/* the cube will open when mouse hover! */
/* .cube:hover, */
.active-hover {
  .front {
    transform: translateZ(250px);
  }
  .back {
    transform: translateZ(-250px);
  }
  .right {
    transform: translateX(250px) rotateY(90deg) rotateY(360deg);
  }
  .left {
    transform: translateX(-250px) rotateY(-90deg) rotateY(360deg);
  }
  .top {
    transform: translateY(-250px) rotateX(90deg) rotateY(360deg);
  }

  .bottom {
    transform: translateY(250px) rotateX(-90deg) rotateY(360deg);
  }
}

/* this selects all the sides of the cube */
.face {
  border: 1px solid black;
  position: absolute;
  width: 200px;
  height: 200px;
  background-size: cover;
  transform-style: preserve-3d;
  transition: all 2s;
}

/* front keyframe --------------------------*/
@keyframes front-effect {
  0% {
    transform: translateZ(100px) translateY(300px) translateX(300px);
  }

  100% {
    transform: translateZ(100px);
  }
}

.front-effect {
  animation: front-effect 1.5s none;
}

.front {
  opacity: 0;
  transform: translateZ(100px);
  transition: transform 0.4s;
}

/* front ------------------------------------*/

/* back keyframe --------------------------*/
@keyframes back-effect {
  0% {
    transform: translateY(-500px) translateZ(-100px) translateX(-300px)
      rotateY(180deg);
  }

  100% {
    transform: translateY(0px) translateZ(-100px) translateX(0px)
      rotateY(180deg);
  }
}

.back-effect {
  animation: back-effect 1.5s none;
}

.back {
  transition: transform 0.4s;
  opacity: 0;
  transform: translateZ(-100px);
}
/* back ----------------------------*/

/* right keyframe --------------------------*/
@keyframes right-effect {
  0% {
    transform: translateY(-400px) rotateY(90deg) translateZ(100px);
  }

  100% {
    transform: translateY(0px) rotateY(90deg) translateZ(100px);
  }
}

.right-effect {
  animation: right-effect 1.5s none;
}

.right {
  opacity: 0;
  transform: translateX(100px) rotateY(90deg);
  transition: transform 0.4s;
}

/* right ----------------------------*/

/* left keyframe ------------------------------------------*/
@keyframes left-effect {
  0% {
    transform: translateX(-100px) rotateY(-90deg) translateX(-300px);
  }

  100% {
    transform: translateX(-100px) rotateY(-90deg) translateY(0px);
  }
}

.left-effect {
  animation: left-effect 1.5s none;
}

.left {
  transition: transform 0.4s;
  opacity: 0;
  transform: translateX(-100px) rotateY(-90deg);
}
/* left ----------------------------------------------------*/

/* top keyframe ------------------------------------------*/
@keyframes top-effect {
  0% {
    transform: rotateX(90deg) translateY(-400px) translateZ(100px);
  }

  100% {
    transform: rotateX(90deg) translateY(0px) translateZ(100px);
  }
}

.top__front-image {
  backface-visibility: hidden;
}

.top__back-image {
  transform: rotateY(180deg) rotate(180deg);
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  right: 0;
}

.top-effect {
  animation: top-effect 1.5s none;
}

.top {
  opacity: 0;
  transform: translateY(-100px) rotateX(90deg);
  transition: transform 0.4s;
}
/* top ----------------------------------------------------*/

/* bottom keyframe ------------------------------------------*/
@keyframes bottom-effect {
  0% {
    transform: rotateX(0deg) translateY(500px) translateZ(100px);
  }

  100% {
    transform: rotateX(-90deg) translateY(0px) translateZ(100px);
  }
}

.bottom-effect {
  animation: bottom-effect 1.5s none;
}

.bottom {
  opacity: 0;
  transform: translateY(100px) rotateX(-90deg);
  transition: transform 0.4s;
}
/* bottom ----------------------------------------------------*/

/* earth keyframe ---------------------------------------------*/
@keyframes background-spin {
  from {
    background-position: 0px 0px;
  }

  to {
    background-position: 2000px 0px;
  }
}

@keyframes earth-rotate {
  from {
    transform: rotateY(360deg);
  }

  to {
    transform: rotateY(0deg);
  }
}

.earth {
  opacity: 0;
  width: 190px;
  height: 190px;
  border-radius: 50%;
  box-shadow: rgb(0, 0, 0) 16px 0px 50px 6px inset,
    rgba(255, 255, 255, 0.2) -3px 0px 10px 2px inset;
  transition: opacity 0.5s;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
/* earth ----------------------------------------------------*/

@keyframes cube-rotation {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

.cube-rotation {
  animation: cube-rotation 5s linear infinite;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.fade-out {
  animation: fade-out ease-in forwards 1.5s;
}

/* This will be the text */

.cube__text-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: center;
}

.cube__text {
  margin: 10px;
  width: 100%;
  text-align: center;
  animation: fade-in ease-in forwards 1.5s;
}

.final__image {
  animation: fade-in ease-in forwards 1.5s;
}
